@import '../../styles/shared/functions';

.mat-mdc-form-field-flex {
  height: 100%;
}

.mdc-text-field__input {
  &::placeholder {
    color: var(--text-color) !important;

  }
}

.mat-datepicker-toggle {
  color: var(--text-color) !important;
}

.mat-calendar {
  button {
    background: none !important;
  }

}

.mat-datepicker-toggle {
  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 2.4em !important;
    padding: 0.5em !important;
  }

  .mat-mdc-icon-button {
    --mdc-icon-button-icon-size: 1.5em !important;
  }
}

.date {
  pointer-events: none !important;
  user-select: none !important;

  input.mat-mdc-input-element {
    pointer-events: none !important;
    user-select: none !important;
  }
}
