@import '../shared/functions';


.form {
  width: 100%;
  margin-bottom: em(20);

  &__control {
    position: relative;
    margin-bottom: em(16);

    .validation {
      position: relative;
      top: em(8);
      left: 0;

      small {
        font-size: em(10);
        color: var(--red-color);
        display: block;
      }
    }

    &.mb-24 {
      margin-bottom: em(24);
    }

    &.mb-32 {
      margin-bottom: em(32);
    }

    label {
      cursor: pointer;

      span {
        font-size: em(12);
        text-transform: uppercase;
        margin-bottom: em(12, 12);
        display: inline-block;
      }
    }



    input, textarea {
      font-family: 'Montserrat', monospace;
      font-size: 1em;
      display: block;
      height: em(53);
      width: 100%;
      color: var(--text-color);
      background: var(--input-color);
      border: em(1) solid var(--input-color);
      padding: 0 em(16);
      margin: 0;

      &[type=checkbox] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
      }

      &[type=checkbox]:checked ~ .checkmark {
        background-color: var(--red-color);
        border: em(1) solid var(--red-color);

        &:after {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }

    }

    textarea {
      font-family: 'Montserrat', monospace;
      resize: none;
      height: em(140);
      padding: em(20);
    }

    &-checkbox {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      .checkmark {
        position: relative;
        top: 0;
        left: 0;
        background: var(--input-color);
        border: em(1) solid var(--input-color);
        width: em(31);
        height: em(31);
        margin-right: em(15);

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          height: 60%;
          background: url('../../assets/img/checkbox.svg') no-repeat 50%;
          opacity: 0;
        }
      }
    }

    &.invalid {
      input, textarea {
        border: em(1) solid var(--red-color);
      }
    }
  }
}
