@import '../shared/functions';


:root {
  --base-color: #0B0C0C;
  --background-color: #000000;
  --text-color: #A1A1A1;
  --title-color: #FFFFFF;
  --btn-red-text-color: #FFFFFF;
  --red-color: #FF1822;
  --green-color: #00CF2C;
  --window-color: #0B0C0C;
  --toggle-color: #0B0C0C;
  --toggle-svg-color: #FFFFFF;
  --toggle-svg-checked-color: #A1A1A1;
  --white-color: #FFFFFF;
  --input-color: #1A1A1A;

}
#light {
  --base-color: #9e9e9e;
  --background-color: #b9b9b9;
  --btn-red-text-color: #000000;
  --window-color: #373737;
  --input-color: #4b4b4b;
  --text-color: #FFFFFF;
  --title-color: #000000;
  --toggle-color: #373737;

}
html {
  scroll-behavior: smooth;
  font-size: vp(1920);
  height: 100%;
  background-color: var(--black-color);
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--background-color);
  //background-color: var(--background-color);
}

.main__wrap{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--black-color);
  //background-color: var(--background-color);
}

app-header {
  flex: 0 0 auto;
}

main {
  min-height: 100%;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

