@import '../shared/functions';
@import 'src/styles/shared/colors';

.window {
  width: 100%;
  margin-top: em(40);

  .alert-error {
    font-size: em(16);
    color: $red-color;
    padding-bottom: em(15, 16);
  }


  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: em(727);
    min-height: em(678);
    padding: em(100) em(124);
    margin: 0 auto;
    background: url('../../assets/img/form_bg.svg')  center top / 100% 100% no-repeat;
  }
  a {
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    padding-bottom: em(10);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 0;
      height: em(1);
      background-color: $text-color;
      transition: all .3s ease-in-out;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
