@import '../shared/functions';


.window {
  width: 100%;
  margin-top: em(40);

  .alert-error {
    font-size: em(16);
    color: var(--red-color);
    padding-bottom: em(15, 16);

    &.green {
      color: var(--green-color);
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: em(727);
    min-height: em(678);
    padding: em(100) em(124);
    margin: 0 auto;
    background: var(--red-color);
    clip-path: polygon(100% 0, 100% 76.1%, 79% 100%, 0 100%, 0 0);
    z-index: 6;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      min-height: 100%;
      margin: 0 auto;
      background: var(--window-color);
      clip-path: polygon(100% 0, 100% 76.1%, 79% 100%, 0 100%, 0 0);
      z-index: -1;
    }
  }
}
