<header class="header">
  <nav class="container">
    <div class="header__logo">
      <img src="../../../assets/img/logo.svg" alt="logo">
    </div>
    <div class="header__buttons">
      <button class="button width-179">
        <svg width="179" height="45" viewBox="0 0 179 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1V44H161.168L177.617 27.5503V1H1Z" stroke="#FF1822"/>
        </svg>
        <span>LOG IN</span>
      </button>
      <button class="button hover-text-red">
        <span>REGISTRATION</span>
      </button>
    </div>
  </nav>
</header>
