@import '../../../../styles/shared/functions';

.table {
  width: 100%;
  margin-top: em(100);
  text-transform: uppercase;
  background: none;

  mat-header-row, mat-footer-row {
    width: 100%;
    background-color: var(--input-color);
    height: em(53, 14);
    min-height: em(53, 14);
    gap: em(1);
    margin-bottom: em(1, 14);
    font-family: 'Montserrat', sans-serif;
    font-size: em(14);
    font-weight: 700;
    color: var(--text-color);
  }

  mat-header-cell, mat-footer-cell {
    &:last-child {
      justify-content: flex-end;
    }
  }

  mat-row {
    font-family: 'Montserrat', sans-serif;
    font-size: em(14);
    font-weight: 700;
    background-color: var(--window-color);
    color: var(--white-color);
    min-height: em(53, 14);
    margin-bottom: em(1, 14);
  }

  mat-cell {
    &:last-child {
      justify-content: flex-end;
    }

    &:nth-child(4) {
      overflow: visible;
    }

    &.red {
      color: var(--red-color);

      svg {
        path {
          fill: var(--red-color);
        }
      }
    }

    &.green {
      color: var(--green-color);

      svg {
        path {
          fill: var(--green-color);
        }
      }
    }

    &.white {
      color: var(--white-color);

      svg {
        path {
          fill: var(--white-color);
        }
      }
    }

    .time {
      width: em(60);
    }

    .lunch {
      width: em(28);
      height: 100%;
      margin-left: em(20);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: em(-1);
        left: 50%;
        transform: translateX(-50%);
        background: var(--white-color);
        display: inline-block;
        width: 100%;
        height: em(1);
      }

      svg {
        width: em(21);
        cursor: pointer;
      }

      &__info {
        display: block;
        position: absolute;
        background-color: var(--white-color);
        color: #000000;
        padding: em(10) em(20);
        min-width: em(100);
        min-height: em(30);
        text-align: center;
        white-space: nowrap;
        top: em(-30);
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        user-select: none;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 90%;
          border: em(12) solid transparent;
          border-top: em(12) solid var(--white-color);
        }
      }
      svg:hover ~ .lunch__info {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  mat-footer-cell {
    .value {
      margin-left: em(5);
      color: var(--white-color);
    }

    &.result {
      color: var(--white-color);
    }

    &.red {
      background-color: var(--red-color);
    }

    &.green {
      background-color: var(--green-color);
    }
  }


}
