@import '../../../../styles/shared/functions';

.table {
  width: 100%;
  margin-top: em(100);
  text-transform: uppercase;
  background: none;

  mat-header-row, mat-footer-row {
    width: 100%;
    background-color: var(--input-color);
    height: em(53, 14);
    min-height: em(53, 14);
    gap: em(1);
    margin-bottom: em(1, 14);
    font-family: 'Montserrat', sans-serif;
    font-size: em(14);
    font-weight: 700;
    color: var(--text-color);
  }

  mat-header-cell {
    &:last-child {
      justify-content: flex-end;
    }
  }

  mat-row {
    font-family: 'Montserrat', sans-serif;
    font-size: em(14);
    font-weight: 700;
    background-color: var(--window-color);
    color: var(--white-color);
    min-height: em(53, 14);
    margin-bottom: em(1, 14);
  }

  mat-cell {
    &:last-child {
      justify-content: flex-end;
    }

    &.red {
      color: var(--red-color);
    }

    &.green {
      color: var(--green-color);
    }

    &.white {
      color: var(--white-color);
    }
  }

  mat-footer-cell {
    .value {
      margin-left: em(5);
      color: var(--white-color);
    }
  }



  &__cell {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;

    .value {
      margin-left: em(5);
    }

    &-date {
      width: 25%;
      padding-left: em(23);
    }

    &-result {
      width: 25%;
      justify-content: flex-end;
      text-align: right;
      padding-right: em(23);
    }

    &-days {
      width: 26%;
      padding-left: em(23);

      span {
        color: var(--text-color);

        &.value {
          color: var(--white-color);
        }
      }
    }

    &-time {
      width: 35%;

      span {
        color: var(--text-color);

        &.value {
          color: var(--white-color);
        }
      }
    }

    &-sum {
      width: 39%;
      justify-content: flex-end;
      text-align: right;
      padding-right: em(23);
    }

    &_sum-red {
      background-color: var(--red-color);
    }

    &_sum-green {
      background-color: var(--green-color);
    }

    span {
      &.red {
        color: var(--red-color);
      }

      &.green {
        color: var(--green-color);
      }

      &.white {
        color: var(--white-color);
      }
    }

  }
}
