<div class="window">
  <div class="window__wrap">

    <div class="title">
      <span>Change data</span>
      <span class="title-red">.</span>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="saveInfoUserInFirebase()">
      <div
        class="form__control"
        [ngClass]="{invalid: form.controls.name.touched && form.controls.name.errors}"
      >
        <label>
          <span> Surname and Name</span>
          <input type="text" placeholder="Surname and Name" formControlName="name">
        </label>
        <div
          *ngIf="form.controls.name.touched && form.controls.name.invalid"
          class="validation">
          <small *ngIf="form.controls.name.hasError('required')">
            Field title is required
          </small>
        </div>
      </div>

      <app-button
        type="submit"
        classes="w-320"
        [disabled]="form.invalid || showLoader"
      >
        {{ showLoader ? 'Saving...' : 'Save changes' }}
      </app-button>

    </form>

    <button class="close" (click)="close()">X</button>

  </div>
</div>

<app-loader [showLoader]="showLoader"></app-loader>
